<<<<<<< HEAD

.header {
  height:  70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contact {
  height: 50vh;
  background-color: $color-primary;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bottom-container {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

=======
@import "./base";

.header {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }

        
        
>>>>>>> b4c0d4381b1874cca0f8a70e79e326b38c48943b
