* { 
    margin: 10px;
  }
  .flex-container {
    background-color: whitesmoke;
    position: relative;
    padding: 20px;
    margin:20px;
    display: flex;
     }
  .panel0 {
    position: absolute;
    top: 0px;
    font-size: 30px;
    color: whitesmoke;
    font-style:normal;
    background-color: green;
    width: 130px;
  }
  .link0 {
      background-color: black;
      font-size: 30px;
      color: whitesmoke;
      height: 40px;
  }
  .link1 {

    background-color: black;
    font-size: 30px;
    color: whitesmoke;
    height: 40px;
  }
  .link2 {
    background-color: black;
    font-size: 30px;
    color: whitesmoke;
    height: 40px;
  }
  .link3 {
  background-color: black;
  font-size: 30px;
  color: whitesmoke;
  height:fit-content;
  }
.flex-container1 {
  display: flex;

}


 .panel1 {
   border-style: solid;
 }
  .panel2 {
  border-style: solid;
  border-color: black;
  font-size: 20px;
  color: black; }
  .panel3 {
    border-color: black;
    border:black;
    border-style: solid;
  }
  .flex-container2 {
    display: flex;
    flex-direction: column;
  }
  .panel4 {
    display: flex;

    border-style: solid;
    border-color: black;
  }